@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-darkGrey;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}



/* Hide the calendar picker icon */
.peer::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Google places dropdown */
.pac-container {
    /* margin-top: 50px !important; */
    width: 500px !important;
    background-color: #303030 !important;
    border: none !important;
    border-radius: 0 0 8px 8px !important;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5) !important;
    font-family: "Poppins", sans-serif;
}

.pac-item {
    font-size: 16px !important;
    padding: 12px !important;
    color: white !important;
    border: none !important;
    border-bottom: 1px solid #374151 !important;
}

.pac-item:hover {
    background-color: #334155 !important;
}

.pac-item .pac-item-query {
    font-weight: bold !important;
    color: #eeff87 !important;
}

/* Add this to your global styles or component-specific styles */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* For Internet Explorer 10+ */
    scrollbar-width: none; /* For Firefox */
}
